<!doctype html>
<html ng-app>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script type="text/javascript">
    function whatever($scope){
	  $scope.colors = ['gold', 'white', 'blue', 'red', 'orange', 'yellow', 'green', 'purple'];
	  $scope.changeShirtColor = function(color) {
		$scope.shirtColor = color;
		}
	  $scope.cardNum = " ";
	  $scope.shirtCountSmall = 0;
	  $scope.shirtCountMedium = 0;
	  $scope.shirtCountLarge = 0;
	  $scope.shirtCountXLarge = 0;
	  $scope.shipFname = " ";
	  $scope.shipLname = " ";
	  $scope.shipAddr1 = " ";
	  $scope.shipAddr2 = " ";
	  $scope.cardFname = " ";
	  $scope.cardLname = " ";
	  $scope.shirtColor = "gold";
	  $scope.getCardNumber = function($num){
	    if($num.length < 4){
		  return "";
		}else{
		  return "xxxx xxxx xxxx " + $num.slice(-4);
		}
	  }
	}
  </script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="jquery.simplecolorpicker.css"/>
  <!--style>
    dd {
      margin-top:10px;
      margin-bottom:20px;
      }
  </style-->
</head>
<body ng-controller="whatever">
<form action="#" method="POST">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">FIU Scavenger Hunt</a>
  </div>
</div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li id="ttab1" class="active"><a href="#tab1" data-toggle="tab">About</a></li>
    <li id="ttab2" ><a href="#tab2" data-toggle="tab">Shirt Type</a></li>
    <li id="ttab3" ><a href="#tab3" data-toggle="tab">Order Details</a></li>
    <li id="ttab4" ><a href="#tab4" data-toggle="tab">Delivery Destination</a></li>
    <li id="ttab5" ><a href="#tab5" data-toggle="tab">Payment Options</a></li>
    <li id="ttab6" ><a href="#tab6" data-toggle="tab">Review Order</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="hero-unit">
        <h1>Order your shirts here!</h1>
        <p>Using this page you can customize your shirt type, order quantity, delivery destination, and payment options. Afterwards, you'll be able to review and place your order.</p>
        <a href="#tab2" onclick="$('.active').removeClass('active');$('#ttab2').addClass('active');" data-toggle="tab" class="btn btn-primary pull-right">Start Your Order <i class="icon-arrow-right"></i></a>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="hero-unit">
        <div class="row">
          <h1>Shirt Type</h1>
          <div class="span3">
            <input type="text" ng-model="teamname" name="teamname" placeholder="Team Name"/>
            <select ng-model="sleeve" name="sleeve">
              <option value="" selected="selected" class="muted">Choose a Sleeve Style:</option>
              <option value="Sleeve-less">Sleeve-less</option>
              <option value="Short-sleeve">Short-sleeve</option>
              <option value="Long-sleeve">Long-sleeve</option>
            </select>
            <br>
				<div ng-repeat="color in colors"><div ng-click="changeShirtColor(color)" style="cursor: pointer; float: left; margin-right: 5px; height: 25px; width: 25px; border: 1px solid black; border-radius: 4px; background-color: {{color}}"></div></div>
            <br>
          </div>
          <div class="span4 offset2">
            <img src="http://placehold.it/300x250&text=Live+Example"/>
          </div>
        </div>
        <a href="#tab3" onclick="$('.active').removeClass('active');$('#ttab3').addClass('active');" data-toggle="tab" class="pull-right btn btn-primary">Next <i class="icon-arrow-right"></i></a>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <div class="hero-unit clearfix">
        <div class="row">
          <h1>Order Details</h1>
          <div class="span4">
            <label>Small <input ng-model="shirtCountSmall" name="size-small" type="number" value="0" min="0" max="99" step="1" /></label>
            <label>Medium <input ng-model="shirtCountMedium" name="size-medium" type="number" value="0" min="0" max="99" step="1" /></label>
          </div>
          <div class="span4">
            <label>Large <input ng-model="shirtCountLarge" name="size-large" type="number" value="0" min="0" max="99" step="1" /></label>
            <label>X-Large <input ng-model="shirtCountXLarge" name="size-xlarge" type="number" value="0" min="0" max="99" step="1" /></label>
          </div>
        </div>
        <div class="row">
          <p><a mailto="c.knowles.117@gmail.com">Contact us</a> for more sizing options.</p>
        </div>
        <div class="row pull-right">
          <dl class="dl-horizontal">
            <dt>Total shirts: </dt><dd>{{shirtCountSmall + shirtCountMedium + shirtCountLarge + shirtCountXLarge}}</dd>
            <dt>Price per shirt: </dt><dd>$10.00</dd>
            <dt>Subtotal: </dt><dd>${{(shirtCountSmall + shirtCountMedium + shirtCountLarge + shirtCountXLarge) * 10}}.00</dd>
          </dl>
          <a href="#tab4" onclick="$('.active').removeClass('active');$('#ttab4').addClass('active');" data-toggle="tab" class="pull-right btn btn-primary">Next <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div class="hero-unit">
        <div class="row">
          <h1>Delivery Destination</h1>
          <div class="span4 clearfix">
              <dl class="dl-horizontal">
                <label for="ship-fname"><dt>First Name</dt><dd><input ng-model="shipFname" name="ship-fname" id="ship-fname" type="text" /></dd></label>
                <label for="ship-lname"><dt>Last Name</dt><dd><input ng-model="shipLname" name="ship-lname" id="ship-lname" type="text" /></dd></label>
                <label for="ship-addr1"><dt>Address</dt><dd><input ng-model="shipAddr1" name="ship-addr1" id="ship-addr1" type="text" /></dd></label>
                <label for="ship-addr2"><dt></dt><dd><input ng-model="shipAddr2" name="ship-addr2" id="ship-addr2" type="text" /></dd></label>
                <label for="ship-zip"><dt>Zip Code</dt><dd><input ng-model="shipZip" name="ship-zip" id="ship-zip" type="text" /></dd></label>
                <label for="ship-met"><dt>Shipping Method</dt><dd><select ng-model="shipMethod"><option value="10">Regular</option><option value="15">Express</option></select>&nbsp;&nbsp;(Price varies by destination)</dd></label>
              </dl>
          </div>
          <div class="span6 clearfix pull-right">
              <img style="margin-top:20px;" src="http://placehold.it/500x300&text=Bing+Map" />
          </div>
        </div>
        <div class="row">
          <div class="span10">
            <a href="#tab5" onclick="$('.active').removeClass('active');$('#ttab5').addClass('active');" data-toggle="tab" class="pull-right btn btn-primary">Next <i class="icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab5">
      <div class="hero-unit">
        <h1>Payment Options</h1>
        <div class="row">
          <dl class="dl-horizontal">
          <label for="card-num"><dt>Card Number</dt><dd><input ng-model="cardNum" name="card-num" id="card-num" type="text" /></dd></label>
          <label for="card-exm"><dt>Expiration Month</dt><dd><select ng-model="cardExm" name="card-exm" id="card-exm">
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sep</option>
            <option value="A">Oct</option>
            <option value="B">Nov</option>
            <option value="C">Dec</option>
          </select></dd></label>
          <label for="card-exy"><dt>Expiration Year</dt><dd><select ng-model="cardExy" name="card-exy" id="card-exy">
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select></dd></label>
          <label for="card-sec"><dt>Security Code</dt><dd><input ng-model="cardSec" name="card-sec" id="card-sec" type="text" /></dd></label>
          <label for="card-zip"><dt>Billing Zip Code</dt><dd><input ng-model="cardZip" name="card-zip" id="card-zip" type="text" /></dd></label>
          </dl>
        </div>
        <div class="row">
          <a href="#tab6" onclick="$('.active').removeClass('active');$('#ttab6').addClass('active');" data-toggle="tab" class="pull-right btn btn-primary">Next <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab6">
      <div class="hero-unit">
        <h1>Review Order</h1>
        <div class="row">
          <div class="span5">
            <dl class="dl-horizontal pull-left">
              <dt>Team Name</dt><dd>: {{teamname}}</dd>
              <dt>Shirt Type</dt><dd>: {{sleeve}}</dd>
              <dt>Shirt Color</dt><dd><div style="height:25px;width:25px;border-radius:2px;border:1px solid black; background-color:{{shirtColor}};"></div></dd>
              <dt>Small</dt><dd>: {{shirtCountSmall}}</dd>
              <dt>Medium</dt><dd>: {{shirtCountMedium}}</dd>
              <dt>Large</dt><dd>: {{shirtCountLarge}}</dd>
              <dt>X-Large</dt><dd>: {{shirtCountXLarge}}</dd>
            <dl>
          </div>
          <div class="span5">
            <dl class="dl-horizontal pull-right">
              <dt>Shipping To</dt><dd>: {{shipFname}} {{shipLname}}</dd>
              <dt>Shipping Address</dt><dd>: {{shipAddr1}}</dd>
              <dt></dt><dd>: {{shipAddr2}}</dd>
              <dt></dt><dd>: {{shipZip}}</dd>

              <dt>Card Holder</dt><dd>: {{shipFname}} {{shipLname}}</dd>
              <dt>Card Number</dt><dd>: {{getCardNumber(cardNum)}}</dd>
              <dt>Expiration Year</dt><dd>: {{cardExm}} / {{cardExy}}</dd>
              <dt>Billing Zip</dt><dd>: {{cardZip}}</dd>
            <dl>
          </div>
        </div>
        <div class="row">
          <div class="span10">
            <dl class="dl-horizontal pull-right">
              <dt>Subtotal</dt><dd>: {{(shirtCountSmall + shirtCountMedium + shirtCountLarge + shirtCountXLarge) * 10 | currency}}</dd>
              <dt>Shipping</dt><dd>: {{shipMethod | currency}}</dd>
              <dt>Tax</dt><dd>: {{(shirtCountSmall + shirtCountMedium + shirtCountLarge + shirtCountXLarge) * .7 | currency}}</dd>
              <dt>Total</dt><dd>: {{(((shirtCountSmall + shirtCountMedium + shirtCountLarge + shirtCountXLarge) * 10) * 1.07) + (shipMethod*1) | currency}}</dd>
              <dt></dt><dd><input type="checkbox" required="required" />&nbsp;I agree to pay the above amount</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="span10">
            <button type="submit" class="btn btn-success pull-right">Place Order <i class="icon-shopping-cart"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--CDN Scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <!--/CDN Scripts-->
</form>
</body>
</html>

